---
---

@import 'base/_reset';
@import 'base/_syntax';
@import 'base/_variables';
@import 'base/_layout';
@import 'base/_utilities';
@import '_common';
@import '_header';
@import '_footer';
@import '_aside';
@import '_content';

//brand icon colors.
.icon-twitter, .icon-twitter-sign{
    color: #00a0d1;
}

.icon-linkedin, .icon-linkedin-sign{
    color: #4875B4;
}

.icon-github{
    color: black;
}

.icon-rss{
    color: darkorange;
}


//nav bar color
$bgDefault      : #f98752;
$bgHighlight    : #FFF5EE;
$colDefault     : #ecf0f1;
$colHover       : #383838;

/* --- Style --- */
.navbar-custom {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}

//nav bar text size
.nav-bar-text{
    font-size: 20px;
    font-family: sans-serif;
}